@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  
}

.fondo{
  background-image: url('/img/fondo4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 100%; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar el contenedor horizontalmente */
}
.contenedor {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  padding: 20px;
}

.subirlo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.img-logo {
  max-width: 60%;
  height: auto;
  margin-bottom: 2vh;
}


.footer {
  background-color: #547C64;
  color: #FFFFFF;
   /* Posición absoluta para que el footer esté siempre en la parte inferior */
  bottom: 0; /* Alinear el footer en la parte inferior de la ventana del navegador */
  left: 0; /* Alinear el footer a la izquierda */
  right: 0; /* Alinear el footer a la derecha */
}

.isotipo{
  height: 50px;

}

.texto {
  color: #FFFFFF;
}

.img-fb,
.img-twiter,
.img-instagram {
  width: 30px;
  margin-right: 10px;
}

.tamaño {
  font-size: 12px;
  background-color: #FFFFFF;
  color: #000000;
}

/*js deslizable texto en buscador*/
#texto {
  display: flex;
 
  left: 0;
  color: white;
  transform: translateX(0%);
  font-size: 24px;
  white-space: nowrap; /* evita que el texto se envuelva */
}

#texto-container{
  width: auto;
  display: flex;
  background-color:#547C64;
  justify-content: center;
  align-items: center;
  height: 70px;
  overflow: hidden; /* Agregar overflow hidden para ocultar lo que sobresale del contenedor */
}

